<!DOCTYPE html>
<html>
  <head></head>
  <body>
    
    <h1>About the Axe Market</h1>
    <p>At Axe Market 1000 we cater to the beginner to 
    intermediate guitarist buying and selling their 
    first and second guitars. </br>

    Our site provides basic information for aspiring
    guitarists such as: Styles the guitar is used for and
    the typical level of musicianship for the instrument.

    All relevant specs are also privided. We provide customers
    as much information as you will need when making a 
    decision about your future musical endeavours.

  </body>
</html>